@use "../0-settings/variables" as variables;

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  @media (max-width: 768px) {
    margin-top: 8px;
  }
}
